<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">

    <title>Starter Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" media="screen" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" media="screen" rel="stylesheet" />

</head>
    <div th:fragment="before-body-script">
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </div>
</html>